format = %{repository_template_format}
location = /var/db/paludis/repositories/e/%{repository_template_name}
sync = %{repository_template_sync} local: git+file:///home/vmm/dev/exherbo/%{repository_template_name}
